{% extends 'share/base.html' %}

{% load staticfiles %}

{% block title %}Data Analusis -Data Exploer{% endblock %}

{% block style %}
    <link href="http://cdn.bootcss.com/bootstrap-table/1.10.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="{% static "css/analysis.css" %}" rel="stylesheet">
    <link href="{% static "css/jqcloud.min.css" %}" rel="stylesheet">
{% endblock%}

{% block content %}
    <div class='container main'>
        <div class='col-md-3'>
            <div class="panel panel-default">
                <div class="panel-heading flip">
                    <span>Choose Project</span>
                    <span class="glyphicon glyphicon-chevron-down list-icon-down" aria-hidden="true"></span>
                </div>
                <div class='select-box'>
                    <select class='form-control' id='select-project'>
                        {% for item in rows %}
                        <option value='{{ item.id }}'>{{ item.keyword }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="panel-heading flip">
                    <span>User Analysis</span>
                    <span class="glyphicon glyphicon-chevron-down list-icon-down" aria-hidden="true"></span>
                </div>
                <ul class="list-group list-show">
                    <li class="list-group-item" id='gender-btn'>Weibo-用户性别比例</li>
                    <li class="list-group-item" id='gender-weibo-btn'>Weibo-微博数量比较</li>
                    <li class="list-group-item" id='gender-follow-btn'>Weibo-关注数量比较</li>
                    <li class="list-group-item" id='gender-fans-btn'>Weibo-粉丝数量比较</li>
                    <li class="list-group-item" id='fans-with-weibo'>Weibo-粉丝数量与微博数量</li>
                <!--<li class="list-group-item" id='gender-age-distribute'>Weibo-年龄分布情况</li>-->
                    <li class="list-group-item" id='hot-tags'>Weibo-热门标签</li>
                </ul>
                <div class="panel-heading flip">
                    <span>Weibo Analysis</span>
                    <span class="glyphicon glyphicon-chevron-down list-icon-down" aria-hidden="true"></span>
                </div>
                <ul class="list-group list-show">
                    <li class="list-group-item" id='client-compare'>Weibo-发布客户端占比</li>
                    <li class="list-group-item" id='weibo-compare'>Weibo-微博原创与转发对比</li>
                    <li class="list-group-item" id='weibo-update'>Weibo-每周微博更新频率</li>
                    <li class="list-group-item" id='day-time'>Weibo-每日微博发布情况</li>
                    <li class="list-group-item" id='high-word'>Weibo-提取微博内容高频词汇</li>
                </ul>
            </div>
        </div>

        <div class='col-md-9'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Charts View</span>
                </div>
                <div id='charts-box'>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Large modal -->
    <div class='container'>
        <div class='panel panel-default'>
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
        </div>
    </div>
          <table id="user-table">
              <thead>
                <tr>
                    <th data-field="u_id">微博ID号</th>
                    <th data-field="u_name">微博昵称</th>
                    <th data-field="u_weibo_count">发布微博数</th>
                    <th data-field="u_following">关注数</th>
                    <th data-field="u_fans">粉丝数</th>
                    <th data-field="u_sex">性别</th>
                    <th data-field="u_birthday">生日</th>
                    <th data-field="u_introduction">简介</th>
                    <th data-field="u_tags">标签</th>
                    <th data-field="u_school">学校经历</th>
                </tr>
              </thead>
          </table>    
          
        </div>
      </div>
    </div>
     <!-- Large modal end -->
{% endblock %}

{% block script %}
    <script src="{% static "js/echarts.min.js" %}"></script>
    <script src="{% static "js/vintage.js" %}"></script>
    <script src="{% static "js/dark.js" %}"></script>
    <script src="http://cdn.bootcss.com/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="{% static "js/analysis_animate.js" %}"></script>
    <script src="{% static "js/echarts_example.js" %}"></script>
    <script src="{% static "js/analysis_charts.js" %}"></script>
    <script src="{% static "js/jqcloud.min.js" %}"></script>
{% endblock %}